body{
  background-image: url(../img/nueva/azul.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.inicio{
  margin-left: 32%;
  margin-top: 5%;
  color: white;
 font-size: 30px;
}

.form-group{
  margin-left: 400px;
  margin-top: 10px;
  font-size: 13px;
  color: white;
}

input{
  margin-left: 500px;
  margin-top: 10px;
   

}

.radio{
  margin-left: 500px;
  margin-top: 10px;
  color: aliceblue;
  font-size: 13px;
}

.btn{
  margin-left: 440px;
  margin-top: 10px;
  color: aliceblue;
 
}

h5{
  margin-left: 430px;
  color: aliceblue;
  font-size: 10%;
}

.olvido{
  margin-left: 64%;
  margin-top: 10px;
  color: aliceblue;
 
}

.btn1{
  color: aliceblue;
  margin-left: 440px;

}

.logo{
  margin-left: 40%;
  width: 100px;
  height: 100px;
  margin-top: -10%;
}